
.one{
    border:2px solid rgb(80, 240, 186);
border-radius:10px;
height:500px;
width: 300git pustpx;
box-shadow: 5px 5px 10px rgb(26, 21, 21);
float: left;
margin-right:5px; 
background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
color:cornsilk;

}
 .for-html{
    font-size:14px;
}